	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/01/2018 10:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-trophy:before { content: "\f100"; }
.flaticon-target:before { content: "\f101"; }
.flaticon-resume:before { content: "\f102"; }
.flaticon-phone-call:before { content: "\f103"; }
.flaticon-event:before { content: "\f104"; }
.flaticon-calendar:before { content: "\f105"; }
.flaticon-attractive:before { content: "\f106"; }
.flaticon-project:before { content: "\f107"; }
.flaticon-collaboration:before { content: "\f108"; }
.flaticon-network:before { content: "\f109"; }
.flaticon-project-1:before { content: "\f10a"; }
.flaticon-calendar-1:before { content: "\f10b"; }